.mainContainer {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    /* overflow: auto; */
}

.navContainer {
    background-color: var(--nav-bg);
    flex-basis: 200px;
    max-width: 200px;
    min-width: 100px;
}

.bodyContainer {
    flex: 1;
    background-color: var(--bg);
}

@media (max-width: 1024px) {
    .navContainer {
        flex-basis: 100px;
    }
}