:root {
  /* light Mode */
  --bg-light: #fff;
  --nav-bg-light: rgb(243, 243, 243);
  --nav-item-bg-light: rgb(201, 201, 201);
  --nav-item-text-light: rgb(66, 66, 66);
  --font-color-light: rgb(66, 66, 66);
  
  /* dart Mode */
  --bg-dark: #000;
  --nav-bg-dark: rgb(71, 71, 71);
  --nav-item-bg-dark: rgb(238, 238, 238);
  --nav-item-text-dark: rgb(66, 66, 66);
  --font-color-dark: rgb(239, 239, 239);
}

:root[color-scheme="light"] {
  --bg: var(--bg-light);
  --font-color: var(--font-color-light);
  --nav-bg: var(--nav-bg-light);
  --nav-item-bg: var(--nav-item-bg-light);
  --nav-item-text: var(--nav-item-text-light);
}

:root[color-scheme="dark"] {
  --bg: var(--bg-dark);
  --font-color: var(--font-color-dark);
  --nav-bg: var(--nav-bg-dark);
  --nav-item-bg: var(--nav-item-bg-dark);
  --nav-item-text: var(--nav-item-text-dark);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: var(--font-color);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

#root {
  display: flex;
  flex: 1;
}

div {
  /* border: 1px orange solid; */
}